
<div class="template">
<span class="field" style="line-height: 30px; height: 30px"> {{ Ctrl.x }} {{ Ctrl.operation}} {{ Ctrl.y }} {{ Ctrl.result }}</span>

<button ng-click='Ctrl.updateOutput(1)'>1</button>
<button ng-click='Ctrl.updateOutput(2)'>2</button>
<button ng-click='Ctrl.updateOutput(3)'>3</button>
<button ng-click='Ctrl.updateOutput(4)'>4</button>
<button ng-click='Ctrl.updateOutput(5)'>5</button>
<button ng-click='Ctrl.updateOutput(6)'>6</button>
<button ng-click='Ctrl.updateOutput(7)'>7</button>
<button ng-click='Ctrl.updateOutput(8)'>8</button>
<button ng-click='Ctrl.updateOutput(9)'>9</button>
<button ng-click='Ctrl.updateOutput(0)'>0</button>
<button ng-click='Ctrl.add()'>+</button>
<button ng-click='Ctrl.subtract()'>-</button>
<button ng-click='Ctrl.divide()'>/</button>
<button ng-click='Ctrl.multiply()'>x</button>
<button ng-click='Ctrl.clear()'>Clear</button>
<button ng-click="Ctrl.calculate()">Calculate</button>
<br/>
<br/>

<!-- <div style="float:left; width: 100%;">

First Value : {{ Ctrl.x }}<br/>
Operation: {{ Ctrl.operation }}<br/>
Second Value: {{ Ctrl.y }}<br/>
Result: {{ Ctrl.result }} 
</div>  -->

</div>